{% include base_path %}

<div class="list__item">
  <article class="archive__item pub-item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Left: Thumbnail -->
    {% if post.thumbnail %}
      <div class="pub-thumb">
        <img src="{{ post.thumbnail }}" alt="paper thumbnail">
      </div>
    {% endif %}

    <!-- Right: Content -->
    <div class="pub-content">

      <!-- Title -->
      <h2 class="pub-title" itemprop="headline">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </h2>

      <!-- Date + Venue -->
      <p class="pub-meta">
        {{ post.date | default: "1900-01-01" | date: "%b, %Y" }}
        {% if post.venue %}
          &nbsp;·&nbsp; {{ post.venue }}
        {% endif %}
      </p>

      <!-- Authors -->
      {% if post.authors %}
        <p class="pub-authors">
          {{ post.authors }}
        </p>
      {% endif %}

      <!-- Publication links -->
      <div class="pub-links">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" target="_blank">Paper</a>
        {% else %}
          <span class="pub-link-disabled">Paper</span>
        {% endif %}
      
        <span class="pub-sep">|</span>
      
        {% if post.codeurl %}
          <a href="{{ post.codeurl }}" target="_blank">Code</a>
        {% else %}
          <span class="pub-link-disabled">Code</span>
        {% endif %}
      </div>


    </div>
  </article>
</div>
